html {
	width: 560px;
}

body {
	width: 558px;
	font-family: "MS Trebuchet", Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

#overlay, .dialog {
	background: rgba(0, 0, 0, 0.9);
	display: none;
	font-size: 1.2em;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
}

#overlay .overlay_inner {
	background: #F5A5A5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: table;
 /* Allows us to shrink to content and centre with auto margin */
	line-height: 16px;
	margin: 0 auto;
	padding: 1em;
	vertical-align: middle;
}

#overlay .overlay_inner span {
	vertical-align: middle;
}

#overlay .overlay_inner .error {
	background: url(/themes/standard/images/error.png) no-repeat left top;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding-left: 35px;
	vertical-align: middle;
}

#global-information {
	position: absolute;
	top: 4px;
	left: 110px;
	padding: 5px;
	font-size: 1.1em;
	color: darkRed;
}

#global-information span.data {
	font-weight: bold;
	margin-right: 10px;
}

#deluge_webui_link {
	display:inline-block;
	border:0;
}


#filters {
	display:block;
	border-spacing: 0;
	font-size: 1.2em;
	width: 552px;
	background-image: linear-gradient(to bottom, #FDFDFD, #E9E9E9);
	background-repeat: no-repeat;
	background-position: left 2px;
	border: 1px solid #CCC;
	padding: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#torrent_container {
	border: 1px solid #CCC;
	border-top: 0px;
	width: 100%;
}

.torrent_row {
	border-top: 1px solid #AAA;
	position: relative;
}

.torrent_row:nth-child(1) {
	border-top: 0px;
}

.torrent_row:nth-child(even) {
	background-color: #EEE;
}

.torrent_row table {
	width: 100%;
}

.table_cell_position {
	width: 25px;
}
.table_cell_name {
	width: 100%;
	font-weight: bold;
	font-size:	9pt;
	word-break: break-all;
}

.table_cell_size {
	text-align: left;
	width: 25%;
}

.table_cell_eta {
	text-align:	left;
}

.table_cell_speed {
	text-align:	right;
}

.table_cell_actions {
	position: absolute;
	bottom: 5px;
	right: 5px;
}


.progress_bar span {
	color: #FFF;
	display: block;
	font-size: 0.9em;
	font-family: Verdana;
	text-align: center;
	width: 100%;
	line-height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
}

.progress_bar {
	background: #CCC;
	position: relative;
	width: 100%;
}

.progress_bar .inner {
	height: 17px;
	width: 0%;
	text-align: center;
}

.progress_bar .inner.Queued {	/* Queued is yellowish */
	background: linear-gradient(to bottom, #D9D300 50%, #BFBA14 50%, #D9D300);
	border: 1px solid #ACA712;
	border-right: none;
}
.progress_bar .inner.Queued.finished {
	border: 1px solid #ACA712;
}

.progress_bar .inner.Paused {	/* Paused is grey */
	background: linear-gradient(to bottom, #C0C0C0 50%, #9A9A9A 50%, #C0C0C0);
	border: 1px solid #8B8B8B;
	border-right: none;
}
.progress_bar .inner.Paused.finished {
	border: 1px solid #8B8B8B;
}

.progress_bar .inner.Downloading {	/* Downloading is green */
	background: linear-gradient(to bottom, #45E25D 50%, #3EC953 50%, #45E25D);
	border: 1px solid #29AD35;
	border-right: none;
}

.progress_bar .inner.Error {	/* Error is red */
	background: linear-gradient(to bottom, #CC0000 50%, #990000 50%, #CC0000);
	border: 1px solid #FF0000;
	border-right: none;
}
.progress_bar .inner.Error.finished {
	border: 1px solid #FF0000;
}

.progress_bar .inner.Seeding {	/* Seeding is blue */
	background: linear-gradient(to bottom, #A7BFCA 50%, #80A3B2 50%, #A7BFCA);
	border: 1px solid #8B8B8B;
}

.progress_bar .inner.Checking {	/* Checking is grey */
	background: linear-gradient(to bottom, #ADADAD 50%, #999999 50%, #ADADAD);
	border: 1px solid #8A8A8A;
}



.table_cell_actions a {
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 0 1px;
	width: 16px;
}

.table_cell_actions .state {
	background: url(/images/pause.png) no-repeat top left;
}
.table_cell_actions .state.resume {
	background: url(/images/start.png) no-repeat top left;
}

.table_cell_actions .move_up {
	background: url(/images/up.png) no-repeat left top;
}

.table_cell_actions .move_down {
	background: url(/images/down.png) no-repeat left top;
}

.table_cell_actions .managed {
	background: url(/images/manage_active.png) no-repeat top left;
}

.table_cell_actions .unmanaged {
	background: url(/images/manage.png) no-repeat top left;
}

.table_cell_actions .force_recheck {
	background: url(/images/recheck.png) no-repeat top left;
}

.table_cell_actions .delete {
	background: url(/images/remove.png) no-repeat left top;
}

.delete-options .rm_cancel {
	background: url(/images/cancel.png) no-repeat left top;
}

.delete-options .rm_torrent_data {
	background: url(/images/trash.png) no-repeat left top;
}

.delete-options .rm_torrent {
	background: url(/images/torrent_file.png) no-repeat left top;
}

